# Virtual env
.venv/
venv/

# Bytecode Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Config de IDE
.vscode/
.idea/

# Logs
*.log

# Dados brutos grandes (ajuste se fizer sentido)
data/raw/
